/* TODO:
    + check all title's font weight, it dont look right
    + change any px width to %
    - fluid typography
    + fix line heights
    + change padding bottom for row gap in footer links
*/

:root {
  --light-cyan:         hsl(171, 66%, 55%);
  --strong-cyan:        hsl(171, 66%, 44%);
  --lighter-blue:       hsl(233, 100%, 75%);
  --light-blue:         hsl(233, 100%, 69%);
  --light-grayish-blue: hsl(201, 11%, 96%);
  --grayish-blue:       hsl(201, 11%, 66%);
  --dark-grayish-blue:  hsl(210, 10%, 33%);
  --ios-box-shadow:     hsl(171, 66%, 44%, 0.4);
  --mac-box-shadow:     hsl(233, 100%, 69%, 0.4);      
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

html {
  font-size: 14px;
  line-height: 1.7;
}

body {
  min-height: 100vh;
  font-family: bai jamjuree;
  color: var(--grayish-blue);
  background-image: url(./images/bg-header-desktop.png);
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  max-inline-size: 100%;
}

button {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 510;
  /* width: 17.5%; */
  /* height: 8vh; */
  width: 200px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  margin-right: 1rem;
}

button:hover {
  cursor: pointer;
}

.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 8rem;
  padding-top: 8rem;
  text-align: center;
}

/* SECTIONS */

.corp-logos {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 7rem;
  padding: 2rem 8rem 2rem 8rem;
}

/* FEATURES */

.computer {
  transform: translateX(-3.7%);
  max-inline-size: 150%;
}

.feature-p {
  font-size: 1.2rem;
}

.s2-features {
  display: flex;
}

.s2-feature-p {
  width: 68%;
}

.service-features {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 0 0 5rem;
  text-align: left;
  row-gap: 3rem;
}

.text-features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 6rem 0 6rem;
  column-gap: 3rem;
}

.text-feature {
  display: grid;
  grid-template-rows: 1fr .1fr 1fr;
}

.tf-icon {
  display: inline-block;
  place-self: center;
  margin-bottom: 2rem;
}

.tf-p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

/* HEADINGS */

.section-heading {
  padding: 0 20rem 0 20rem;
}

.title {
  margin-bottom: 1rem;
}

.title,
.feature-title {
  font-weight: 510;
}

.title,
.feature-title,
footer {
  color: var(--dark-grayish-blue);
}

.sf-title {
  font-size: 1.69rem;
  margin-bottom: 0.3rem;
}

.tf-title {
  font-size: 1.5rem;
}

.s1-title {
  /* font-size: 3.1rem; */
  font-size: clamp(2.2rem, 5vw, 3.1rem);
  margin-top: 5rem;
}

.title:not(.s1-title) {
  /* font-size: 2.5rem; */
  font-size: clamp(2rem, 5vw, 2.5rem);
}

.s1-heading-p {
  /* font-size: 1.4rem; */
  font-size: clamp(1.2rem, 4.6vw, 1.4rem);
}

.s2-heading-p,
.s4-heading-p {
  margin-bottom: 5.5rem
}

.s3-heading-p {
  margin-bottom: 7rem;
}

.heading-p:not(.s1-heading-p) {
  /* font-size: 1.3rem; */
  font-size: clamp(1.24rem, 4.3vw, 1.3rem);
}

/* BUTTONS */

.dl-buttons {
  padding-top: 3.5rem;
}

.dl-buttons-lower {
  padding-bottom: 10rem;
}

.button-ios {
  background-color: var(--strong-cyan);
  box-shadow: 4px 4px 10px var(--ios-box-shadow);
}

.button-ios:hover {
  background-color: var(--light-cyan);
}

.button-mac {
  background-color: var(--light-blue);
  box-shadow: 4px 4px 10px var(--mac-box-shadow);
}

.button-mac:hover {
  background-color: var(--lighter-blue);
}

/* FOOTER */

footer {
  display: grid;
  grid-template-columns: 0.95fr 3fr 1fr;
  background-color: var(--light-grayish-blue);
  font-size: 1.2rem;
  padding: 3rem 6rem 1rem 6rem;
}

.footer-logo {
  max-inline-size: 30%;
}

.footer-links {
  display: flex;
  column-gap: 7rem;
  height: fit-content;
  padding-bottom: 1.5rem;
}

.footer-links-1,
.footer-links-2 {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.footer-link {
  width: fit-content;
}

.footer-link:hover {
  cursor: pointer;
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(57%) 
    sepia(69%) 
    saturate(442%) 
    hue-rotate(122deg) 
    brightness(93%) 
    contrast(90%);
}

.social-links {
  place-self: end;
  display: flex;
  align-self: center;
  column-gap: 1.7rem;
  transform: translateY(-10px);
}



@media screen and (max-width: 600px) {
  body {
    background-image: url(./images/bg-header-mobile.png);
  }
  .main-container {
    padding: 6rem 1.5rem 0 1.5rem;
  }
  .section-heading {
    padding: 0;
  }
  .title {
    line-height: 1.3;
  }
  .tf-p {
    font-size: 1.2rem;
  } 
  .computer {
    transform: translate(0);
  }
  .s2-feature-p {
    width: 100%;
  }
  .service-features {
    padding: 5rem 0 0 0;
    text-align: center;
  }
  .corp-logos {
    padding: 0;
    row-gap: 5rem;
    place-items: center;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: 1fr;
  }
   footer {
    justify-items: center;
    padding: 4rem 0 2rem 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1.3fr 3fr 1fr;
   }
   .footer-links {
    flex-direction: column;
    row-gap: 1.5rem;
   }
   .footer-link {
    width: 100%;
    text-align: center;
   }
   .social-links {
    padding-top: 2.5rem;
    place-self: center;
    column-gap: 3rem;
   }
  .footer-logo {
    width: 60px;
  }
  .s2-features {
    flex-direction: column;
  }
  .text-features {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    row-gap: 3rem;
    padding: 0;
  }
  button {
    width: 100%;
    /* height: 50px; */
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
  }
}